<!-- HEADER -->
<header>


    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="/">
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Search -->
                <div class="header-search">
                    <form action="/product/search" method="get">
                        <input class="input search-input" name="q" type="text" placeholder="Enter your keyword"
                            value={{query}}>
                        <select class="input search-categories" name="selcat">
                            <option value="0">All Categories</option>

                            {{#each Cat}}
                            <option value={{id}}>{{cat_name}}</option>
                            {{/each}}
                        </select>
                        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">

                <!-- Account -->
                {{#each user}}
                {{#if isloggedin}}

                <ul class="header-btns">

                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">

                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">Welcome, <i class="fa fa-caret-down"></i></strong>
                            <div>
                                <span>{{firstname}}</span>
                            </div>

                        </div>

                        <ul class="custom-menu">
                            <li><a href="/account"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="/account/watchlist"><i class="fa fa-heart-o"></i> My Watchlist</a></li>
                            <li><a href="/account/mybid"><i class="fas fa-gavel"></i> My Bids</a></li>
                            <li><a href="/account/mywinningproduct"><i class="fas fa-gavel"></i> My Winning</a></li>
                            <li><a href="#"><i class="fa fa-unlock-alt"></i> Upgrade Accounts</a></li>
                            <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </li>

                    {{else}}
                    <div class="btn-auth">
                        <div>
                            <a href="/auth/register" class=" signup">Sign up</a>

                            <a href="/auth/login" class=" login">Login</a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}

                    <!-- /Account -->

                    <!-- Cart -->
                    {{!-- <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="qty">3</span>
                                </div>
                                <strong class="text-uppercase">My Cart:</strong>
                                <br>
                                <span>35.20$</span>
                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div class="shopping-cart-list">
                                        <div class="product product-widget">
                                            <div class="product-thumb">
                                                <img src="/img/thumb-product01.jpg" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                            </div>
                                            <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <div class="product product-widget">
                                            <div class="product-thumb">
                                                <img src="/img/thumb-product01.jpg" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                            </div>
                                            <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="shopping-cart-btns">
                                        <button class="main-btn">View Cart</button>
                                        <button class="primary-btn">Checkout <i
                                                class="fa fa-arrow-circle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li> --}}
                    <!-- /Cart -->

                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->