{{#section 'WYSIWYG'}}
<script
    src="https://cdn.tiny.cloud/1/1t7sjbqh4n4m6d0kfprkd597forfz9bt36w9h0vhmd24hxag/tinymce/5/tinymce.min.js"></script>
<script src="/js/seller/tinyMCESetup.js"></script>
{{/section}}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            {{!-- <form id="checkout-form" class="clearfix">
                <div class="col-md-6">
                    <div class="billing-details">
                        <p>Already a customer ? <a href="#">Login</a></p>
                        <div class="section-title">
                            <h3 class="title">Billing Details</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="ZIP Code">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="register">
                                <label class="font-weak" for="register">Create Account?</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt.
                                        <p>
                                            <input class="input" type="password" name="password"
                                                placeholder="Enter Your Password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h4 class="title">Shiping Methods</h4>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="shipping" id="shipping-1" checked>
                            <label for="shipping-1">Free Shiping - $0.00</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="shipping" id="shipping-2">
                            <label for="shipping-2">Standard - $4.00</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                            </div>
                        </div>
                    </div>

                    <div class="payments-methods">
                        <div class="section-title">
                            <h4 class="title">Payments Methods</h4>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="payments" id="payments-1" checked>
                            <label for="payments-1">Direct Bank Transfer</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="payments" id="payments-2">
                            <label for="payments-2">Cheque Payment</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                            </div>
                        </div>
                        <div class="input-checkbox">
                            <input type="radio" name="payments" id="payments-3">
                            <label for="payments-3">Paypal System</label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                            </div>
                        </div>
                    </div>
                </div>

               
            </form> --}}
            <div class="col-md-12">
                <tr class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Các sản phẩm đang đăng và còn thời hạn</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th></th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each myProducts}}
                            <tr>
                                <td class="thumb"><img src="/img/sp/{{id}}.jpg" alt=""></td>
                                <td class="details">
                                    <a href="#">{{product_name}}</a>
                                    <ul>
                                        <li><span>Giá khởi tạo: {{initial_price}}</span></li>
                                        <li><span>Giá mua ngay: {{imme_buy_price}}</span></li>
                                    </ul>
                                </td>
                                <td class="price text-center"><strong>{{curr_price}}</strong></td>
                                <td class="qty text-center"><input class="input" type="number" value="1"></td>
                                <td class="total text-center"><strong class="primary-color">$32.50</strong></td>
                                {{!-- <td class="text-right"><button class="main-btn icon-btn"><i
                                            class="fa fa-close"></i></button></td> --}}
                                <td class="text-right">
                                    <button class="main-btn icon-btn" style="width: auto; padding:0 10px" type="button"
                                        data-toggle="collapse" data-target="#{{id}}" aria-expanded="false"
                                        aria-controls="collapseExample"><i class="fas fa-edit"></i>
                                        Edit description
                                    </button>

                                </td>

                            </tr>
                            <tr>

                                <td colspan="6" class="hiddenRow product-tab">
                                    <div class="accordian-body collapse" id="{{id}}">
                                        <ul class="tab-nav">
                                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a>

                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab1" class="tab-pane fade in active">
                                                <form action='/seller/{{id}}/description/edit' method="post">
                                                    <div class="form-group">
                                                        <label for="a">Nội dung cũ</label>
                                                        <textarea type="text" class="form-control" id="a" placeholder=""
                                                            readonly>{{description}}
                                                            </textarea>
                                                        <small id="emailHelp" class="form-text text-muted">*Bạn chỉ có
                                                            thể thêm nội dung mới vào description, không được sửa
                                                            nội dung cũ.</small>
                                                    </div>
                                                    <textarea class="full-featured-non-premium" rows="4"
                                                        name="product_description" required="required">
                                                    </textarea>
                                                    <div class="pull-right" style="margin: 10px 0">
                                                        <button class="primary-btn" type="submit">Submit </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {{/each}}
                        </tbody>



                    </table>

            </div>

        </div>


    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>