

<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      
      
      <!-- edit form column -->
     {{#if hasErrors}}
      <div class="alert alert-danger alert-dismissible  show rounded-pill" role="alert">
          {{#each messages}}
          <strong>Error!</strong> {{this}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          {{/each}}
      </div>
    {{/if}}

    {{#each user}}
    
        <div class="form-group">
            <span class="col-md-3"></span>
            <button type="button" class="btn btn-info" onclick="window.location.href= '/account/change-email'">Change email</button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/account/change-password'">Change password</button>
        </div>
        <form class="form-horizontal" role="form" action="/account/edit-profile" method="POST">
        <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input name="username" class="form-control" type="text" value="{{userInfo.username}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input name="firstname" class="form-control" type="text" value="{{userInfo.firstname}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input name="lastname" class="form-control" type="text" value="{{userInfo.lastname}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              <input name="address" class="form-control" type="text" value="{{userInfo.address}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit"  class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
      {{/each}}
  </div>
</div>
<hr>

{{#if editProfileSuccess}}
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            onOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Update profile successfully'
        })
    </script>
    {{/if}}

    {{#if editProfileFailed}}
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            onOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'error',
            title: 'Update profile failed, please try later'
        })
    </script>
    {{/if}}