<div class="container" style="margin-top:20px">
	<h1>Chỉnh sửa thông tin cá nhân</h1>
	<hr>
	<div class="row">


		<!-- edit form column -->
		{{#if hasErrors}}
		<div class="alert alert-danger alert-dismissible  show rounded-pill" role="alert">
			{{#each messages}}
			<strong>Error!</strong> {{this}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{/each}}
		</div>
		{{/if}}

		{{#each userI}}

		<div class="form-group button-cn" id="upgrade">
			<span class="col-md-3"></span>
			<button type="button" class="btn btn-info" onclick="window.location.href= '/account/change-email'">Change
				email</button>
			<button type="button" class="btn btn-info" onclick="window.location.href='/account/change-password'">Change
				password</button>
			{{!-- <div id="upgrade" style="display: inline-block;"></div> --}}

		</div>
		<form class="form-horizontal" role="form" action="/account/edit-profile" method="POST">
			<div class="form-group">
				<label class="col-md-3 control-label">Username:</label>
				<div class="col-md-8">
					<input name="username" class="form-control" type="text" value="{{userInfo.username}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">First name:</label>
				<div class="col-lg-8">
					<input name="firstname" class="form-control" type="text" value="{{userInfo.firstname}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Last name:</label>
				<div class="col-lg-8">
					<input name="lastname" class="form-control" type="text" value="{{userInfo.lastname}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Address:</label>
				<div class="col-lg-8">
					<input name="address" class="form-control" type="text" value="{{userInfo.address}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label"></label>
				<div class="col-md-8">
					<input type="submit" class="btn btn-primary" value="Save Changes">
					<span></span>
					<input type="reset" class="btn btn-default" value="Cancel">
				</div>
			</div>
		</form>
	</div>
	{{/each}}
	{{#if isBidder}}

	<script>
		document.getElementById('upgrade').innerHTML = `
		<span class="col-md-3"></span>
			<button type="button" class="btn btn-info" onclick="window.location.href= '/account/change-email'">Change
				email</button>
			<button type="button" class="btn btn-info" onclick="window.location.href='/account/change-password'">Change
				password</button>

		<button type="button" class="btn btn - info" data-toggle="collapse" data-target="#panel">Nâng
				cấp tài khoản </button >
		<div class="container collapse" id="panel" style="margin-top:30px;width: 50%;">

			<div class="panel panel-info " id="">
				<div class="panel-heading">
					<h3 class="panel-title">Nâng cấp tài khoản</h3>
				</div>
				<div class="panel-body">
					<p>Nâng cấp tài khoản của bạn thành seller. Yêu cầu sẽ gửi đến admin và chờ phê duyệt</<p>
							<p><button class="btn btn-primary btn-lg pull-right" role="button"
						id="upgradebiddertosellerbutton">Xác
									nhận</button></p>
				</div>
			</div>

		</div>`;
	</script>

	{{/if}}

</div>
</div>




{{#if editProfileSuccess}}
<script>
	const Toast = Swal.mixin({
		toast: true,
		position: 'top-end',
		showConfirmButton: false,
		timer: 3000,
		timerProgressBar: true,
		onOpen: (toast) => {
			toast.addEventListener('mouseenter', Swal.stopTimer)
			toast.addEventListener('mouseleave', Swal.resumeTimer)
		}
	})

	Toast.fire({
		icon: 'success',
		title: 'Update profile successfully'
	})
</script>
{{/if}}

{{#if editProfileFailed}}
<script>
	const Toast = Swal.mixin({
		toast: true,
		position: 'top-end',
		showConfirmButton: false,
		timer: 3000,
		timerProgressBar: true,
		onOpen: (toast) => {
			toast.addEventListener('mouseenter', Swal.stopTimer)
			toast.addEventListener('mouseleave', Swal.resumeTimer)
		}
	})

	Toast.fire({
		icon: 'error',
		title: 'Update profile failed, please try later'
	})
</script>
{{/if}}