<div class="row px-5">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35 my-5">{{title}}</h3>
        <div class="table-responsive table-responsive-data2">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Mã khóa học</th>
                        <th class="th-sm">Ngày đăng</th>
                        <th class="th-sm">Tên khóa học</th>
                        <th class="th-sm">Giá khởi điểm</th>
                        <th class="th-sm">Giá khuyến mãi</th>
                        <th class="th-sm">Kiểm duyệt</th>
                        <th class="th-sm">Tùy chọn</th>


                    </tr>
                </thead>
                <tbody>
                    <tr class="spacer"></tr>
                    {{#each Products}}
                    <tr class="tr-shadow">
                        <td>{{id}}</td>
                        <td>{{parseDate ngay_dang ""}}</td>
                        <td>{{ten_khoa_hoc}}</td>
                        <td>{{numberWithCommas gia}} VNĐ</td>
                        <td>{{numberWithCommas gia_khuyen_mai}} VNĐ</td>
                        <td><button type="button" data-id="{{id}}" data-isValidate="{{is_validate}}" class="set-status-btn btn {{getStatusBlockBtnClass is_validate}}">{{getStatusBlockMsg is_validate}}</button></td>
                        <td>
                            <div class="table-data-feature">
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Xóa"
                                    href="/admin/khoahoc/delete?id={{id}}"
                                    onclick="return confirm('Bạn chắc chắn muốn xóa sản phẩm: {{id}} - {{ten_khoa_hoc}}?')">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
        <!--Pagination-->
        {{#compare pages ">" 0}}
        <nav class="pagination-wrapper text-center" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#compare page "===" 1}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/admin/product?page={{dec page}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{/compare}}

                {{{generatePagination "admin/product" page pages}}}

                {{#compare page "===" pages}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/admin/product?page={{inc page}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/compare}}
            </ul>
        </nav>
        {{/compare}}
    </div>
</div>