{{#section 'style'}}
<script src="/js/util.js"></script>
{{/section}}

{{#section 'WATCHLIST'}}
<script src="/js/watchlist.utils.js"></script>
{{/section}}


<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">

                    <img src="https://www.eco.ca/wp-content/uploads/online-course-banner.jpg" alt=""
                        style="height: 450px;">
                    <div class="banner-caption text-center">
                        <h1>Các khóa học</h1>
                        <h3 class="white-color font-weak">Chất lượng</h3>
                        <button class="primary-btn">Xem ngay</button>
                    </div>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner banner-1">
                    <img src="http://socialpsychonline.com/wp-content/uploads/2017/04/laptops01banner.jpg"
                        style="height: 450px;" alt="">

                    <div class="banner-caption">
                        <h1 class="primary-color">ƯU ĐÃI<br><span class="white-color font-weak">Giảm giá tới 50% nhiều
                                khóa học</span>
                        </h1>
                        <button class="primary-btn">xem ngay</button>
                    </div>
                </div>
                <!-- /banner -->

                <!-- banner -->
                <div class="banner banner-1">
                    <img src="https://www.skillset.co.uk/wp-content/uploads/2018/05/Blue-Online-Course-Banner.jpg"
                        style="height: 450px;" alt="">
                    <div class="banner-caption">
                        <h1 class="white-color">Các khóa học được cập nhật thuyền xuyên </h1>
                        <button class="primary-btn">Khám phá ngay</button>
                    </div>
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="#">
                    <img src="https://learn.blackboardopenlms.com/pluginfile.php/41474/course/overviewfiles/newUsersBanner_snap.png"
                        alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">BUY</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZwG3Vx_6G4s-_kbyTeYiGGOEtr8LCuDxTJpm5BPpxexNATfqr&s"
                        alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">STUDY</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

            <!-- banner -->
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                <a class="banner banner-1" href="#">
                    <img src="https://k12training.blackboard.com/pluginfile.php/2778/course/overviewfiles/BObanners_ESA_snap.png"
                        alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">SUCCESS</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section" style="padding-bottom: 0;">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section-title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Khóa học nổi bật</h2>
                    <div class="pull-right">
                        <div class="product-slick-dots-1 custom-dots"></div>
                    </div>
                </div>
            </div>

            <!-- /section-title -->
            <!-- Product Slick -->
            <div class="col-md-12 col-sm-6 col-xs-6">
                <div class="row">
                    <div id="product-slick-1" class="product-slick">

                        {{#each Pro2}}
                        <!-- Product Single -->
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    {{!-- <span id=time{{id}} start_date={{ngay_dang}}>
                                        <script>
                                            transferDateFormat(`{{start_date}}`, {{ id }});
                                        </script>
                                    </span> --}}
                                    <span class="sale text-center">Mới </span>
                                </div>
                                {{!-- <ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
                                    <script>

                                        countDownTimer(`{{ expriry_date }}`, {{ id }});
                                    </script>
                                </ul> --}}

                                {{!-- <a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a> --}}
                                <a href="/product/detail?ID={{id}}" class=" main-btn quick-view"><i class="fas fa-search"></i> Chi tiết</a>
                                <img src="/img/khoahoc/{{img_url}}" alt="">
                            </div>
                            <div class="product-body">

                                <p class="align-self-end ">
                                    Giá:
                                </p>

                                <h3 class="product-price">{{gia}} đ</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="/product/detail?ID={{id}}">{{ten_khoa_hoc}}</a></h2>
                                <div class="">
                                    <p>
                                        bởi <strong class="primary-color">Trinh Tan Tai</strong>


                                    </p>
                                    <p><i class="fas fa-users fa-lg text-info pr-2"> </i> 0 học viên</p>
                                </div>
                                <div class="product-btns">
                                    <i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);"
                                        data-pro-id="{{id}}" data-islike="false">
                                    </i>

                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
                                        Mua ngay</button>
                                </div>
                            </div>
                        </div>

                        <!-- /Product Single -->
                        {{/each}}


                    </div>
                </div>
            </div>
            <!-- /Product Slick -->
        </div>
        <!-- /row -->


    </div>
    <!-- /container -->
</div>
<!-- /section -->
<section class="section bg-light" style="padding-top: 0;">
    <div class="container">
        <div class="row align-items-end"
            style="background: linear-gradient(-45deg,#52935d 0%,#1c8567 100%); padding: 50px 0;">
            <h2 class="section-heading text-center " style="margin: 0 0 80px; color: #29303b;     
    text-transform: uppercase;">Tại sao bạn nên chọn
                chúng
                tôi?</h2>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <p><i class="fa fa-mobile-phone" style='font-size:58px;color:silver'></i></p>
                    <div class="media-body">
                        <h3 class="heading" style="color: azure;">Mobile</h3>
                        <h4 style="color: azure;">Tham gia khóa học trên điện thoại.</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <p><i class="fas fa-shopping-cart" style='font-size:58px;color:silver'></i></p>
                    <div class="media-body">
                        <h3 class="heading" style="color: azure;">Shop</h3>
                        <h4 style="color: azure;">Mua khóa học trực tuyến.</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <p><i class="fa fa-video-camera" style='font-size:58px;color:silver'></i></p>
                    <div class="media-body">
                        <h3 class="heading" style="color: azure;">Video</h3>
                        <h4 style="color: azure;">Video được đầu tư với chất lượng tốt nhất.</h4>
                    </div>
                </div>

            </div>
        </div>


        <div class="testimonial_area overlay " style="margin-top: 80px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center " style="margin-top: 30px;">
                            <h3>Ý kiến từ học viên.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_active owl-carousel">
                            <div class="single_carousel">
                                <div class="single_testmonial " style="width: 500px;">
                                    <div class="author_opinion">
                                        <p>Chất lượng khóa học rất tốt.</p>
                                    </div>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testimonial/author.png" alt="">
                                        </div>
                                        <div class="name">
                                            <h3>Robert Thomson</h3>
                                            <div class="icon">
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="single_testmonial " style="width: 500px;">
                                    <div class="author_opinion">
                                        <p>Đa dạng về khóa học.</p>
                                    </div>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testimonial/author2.png" alt="">
                                        </div>
                                        <div class="name">
                                            <h3>Kristiana Chouhan</h3>
                                            <div class="icon">
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="single_testmonial " style="width: 500px;">
                                    <div class="author_opinion">
                                        <p>Các bài học rất hấp dẫn.</p>
                                    </div>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testimonial/author2.png" alt="">
                                        </div>
                                        <div class="name">
                                            <h3>Kristiana Chouhan</h3>
                                            <div class="icon">
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="single_testmonial " style="width: 500px;">
                                    <div class="author_opinion">
                                        <p>Giáo viên dạy dễ hiểu, ấn tượng.</p>
                                    </div>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testimonial/author.png" alt="">
                                        </div>
                                        <div class="name">
                                            <h3>Robert Thomson</h3>
                                            <div class="icon">
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="single_testmonial " style="width: 500px;">
                                    <div class="author_opinion">
                                        <p>Chất lượng video rất tốt.</p>
                                    </div>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testimonial/author2.png" alt="">
                                        </div>
                                        <div class="name">
                                            <h3>Kristiana Chouhan</h3>
                                            <div class="icon">
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                                <a href="#"><i class="fa fa-star"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                // review-active
                $('.testmonial_active').owlCarousel({
                    loop: true,
                    margin: 0,
                    items: 1,
                    // autoplay:true,
                    navText: ['<i class="ti-angle-left"></i>', '<i class="ti-angle-right"></i>'],
                    nav: false,
                    dots: true,
                    autoplayHoverPause: true,
                    autoplaySpeed: 500,
                    responsive: {
                        0: {
                            items: 1,
                            dots: false,
                            nav: false,
                        },
                        767: {
                            items: 2,
                            dots: false,
                            nav: false,
                        },
                        992: {
                            items: 2,
                            nav: false
                        },
                        1200: {
                            items: 2,
                            nav: false
                        },
                        1500: {
                            items: 2
                        }
                    }
                });
            });
        </script>
    </div>
</section>