{{#section 'style'}}
<script src="/js/util.js"></script>
{{/section}}

{{#section 'WATCHLIST'}}
<script src="/js/watchlist.utils.js"></script>
{{/section}}


<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">
				<!-- banner -->
				<div class="banner banner-1">
					<img src="./img/banner01.jpg" alt="">
					<div class="banner-caption text-center">
						<h1>Bags sale</h1>
						<h3 class="white-color font-weak">Up to 50% Discount</h3>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="./img/banner02.jpg" alt="">
					<div class="banner-caption">
						<h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span>
						</h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="./img/banner03.jpg" alt="">
					<div class="banner-caption">
						<h1 class="white-color">New Product <span>Collection</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- banner -->
			<div class="col-md-4 col-sm-6">
				<a class="banner banner-1" href="#">
					<img src="./img/banner10.jpg" alt="">
					<div class="banner-caption text-center">
						<h2 class="white-color">NEW COLLECTION</h2>
					</div>
				</a>
			</div>
			<!-- /banner -->

			<!-- banner -->
			<div class="col-md-4 col-sm-6">
				<a class="banner banner-1" href="#">
					<img src="./img/banner11.jpg" alt="">
					<div class="banner-caption text-center">
						<h2 class="white-color">NEW COLLECTION</h2>
					</div>
				</a>
			</div>
			<!-- /banner -->

			<!-- banner -->
			<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
				<a class="banner banner-1" href="#">
					<img src="./img/banner12.jpg" alt="">
					<div class="banner-caption text-center">
						<h2 class="white-color">NEW COLLECTION</h2>
					</div>
				</a>
			</div>
			<!-- /banner -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section-title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">NEARLY ENDED</h2>
					<div class="pull-right">
						<div class="product-slick-dots-1 custom-dots"></div>
					</div>
				</div>
			</div>
			<!-- /section-title -->
			<!-- Product Slick -->
			<div class="col-md-12 col-sm-6 col-xs-6">
				<div class="row">
					<div id="product-slick-1" class="product-slick">

						{{#each Pro2}}
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span id=time{{id}} start_date={{start_date}}>
										<script>
											transferDateFormat(`{{start_date}}`, {{ id }});
										</script>
									</span>
									<span class="sale text-center">New</span>
								</div>
								<ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
									<script>

										countDownTimer(`{{ expriry_date }}`, {{ id }});
									</script>
								</ul>

								<a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a>
								<img src="/img/sp/{{id}}.jpg" alt="">
							</div>
							<div class="product-body">

								<p class="align-self-end ">
									Current Price:
								</p>

								<h3 class="product-price">${{initial_price}}</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">{{product_name}}</a></h2>
								<div class="">
									<p>
										<i class="fas fa-trophy grey-text pr-2"></i> Trinh Tan Tai |
										<i class="fas fa-users fa-lg text-info pr-2"> </i> 33 bidders
									</p>
									<p>Buy now: <strong>${{imme_buy_price}}</strong></p>
								</div>
								<div class="product-btns">
									<i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);"
										data-pro-id="{{id}}" data-islike="false">
									</i>

									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
										Bid
										now</button>
								</div>
							</div>
						</div>

						<!-- /Product Single -->
						{{/each}}


					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<!-- section-title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">TOP BIDDED</h2>
					<div class="pull-right">
						<div class="product-slick-dots-2 custom-dots"></div>
					</div>
				</div>
			</div>
			<!-- /section-title -->
			<!-- Product Slick -->
			<div class="col-md-12 col-sm-6 col-xs-6">
				<div class="row">
					<div id="product-slick-2" class="product-slick">
						{{#each Pro4}}
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">

									<span id=time{{id}} start_date={{start_date}}>
										<script>
											transferDateFormat(`{{start_date}}`, {{ id }});
										</script>
									</span>
									<span class="sale text-center">New</span>
								</div>
								<ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
									<script>

										countDownTimer(`{{ expriry_date }}`, {{ id }});
									</script>
								</ul>

								<a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a>
								<img src="/img/sp/{{id}}.jpg" alt="">
							</div>
							<div class="product-body">

								<p class="align-self-end ">
									Current Price:
								</p>

								<h3 class="product-price">${{initial_price}}</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">{{product_name}}</a></h2>
								<div class="">
									<p>
										<i class="fas fa-trophy grey-text pr-2"></i> Trinh Tan Tai |
										<i class="fas fa-users fa-lg text-info pr-2"> </i> 33 bidders
									</p>
									<p>Buy now: <strong>${{imme_buy_price}}</strong></p>
								</div>
								<div class="product-btns">

									<i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);"
										data-pro-id="{{id}}" data-islike="false">
									</i>

									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
										Bid
										now</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
						{{/each}}

					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<!-- section-title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">HIGHEST PRICE</h2>
					<div class="pull-right">
						<div class="product-slick-dots-3 custom-dots"></div>
					</div>
				</div>
			</div>
			<!-- /section-title -->
			<!-- Product Slick -->
			<div class="col-md-12 col-sm-6 col-xs-6">
				<div class="row">
					<div id="product-slick-3" class="product-slick">
						{{#each Pro6}}
						<!-- Product Single -->
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span id=time{{id}} start_date={{start_date}}>
										<script>
											transferDateFormat(`{{start_date}}`, {{ id }});
										</script>
									</span>

									<span class="sale text-center">New</span>
								</div>
								<ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
									<script>

										countDownTimer(`{{ expriry_date }}`, {{ id }});
									</script>
								</ul>

								<a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a>
								<img src="/img/sp/{{id}}.jpg" alt="">
							</div>
							<div class="product-body">

								<p class="align-self-end ">
									Current Price:
								</p>

								<h3 class="product-price">${{initial_price}}</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<h2 class="product-name"><a href="#">{{product_name}}</a></h2>
								<div class="">
									<p>
										<i class="fas fa-trophy grey-text pr-2"></i> Trinh Tan Tai |
										<i class="fas fa-users fa-lg text-info pr-2"> </i> 33 bidders
									</p>
									<p>Buy now: <strong>${{imme_buy_price}}</strong></p>
								</div>
								<div class="product-btns">
									<i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);"
										data-pro-id="{{id}}" data-islike="false">
									</i>

									<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
										Bid
										now</button>
								</div>
							</div>
						</div>
						<!-- /Product Single -->
						{{/each}}
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->

	</div>
	<!-- /container -->
</div>
<!-- /section -->