{{#section 'style'}}
<link href="/css/card.css" rel="stylesheet" type="text/css">
<script src="/js/util.js"></script>
{{/section}}

{{#section 'WATCHLIST'}}
<script src="/js/watchlist.utils.js"></script>
{{/section}}

{{#section 'BID_UTILS'}}
<script src="/js/bidder/bidder.utils.js"></script>
<script src="/js/seller/seller.utils.js"></script>
{{/section}}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<div class="product product-details clearfix">

				{{#if isBidder}}
				{{#each Pro}}
				<div class="col-md-6">
					<div id="product-main-view">
						<div class="product-view">
							<img src="/img/sp/{{id}}.jpg" alt="" style="width: 600px;height:500px;">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-1.jpg" alt="" style="width: 600px;height:500px;">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-2.jpg" alt="" style="width: 600px;height:500px;">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-3.jpg" alt="" style="width: 600px;height:500px;">
						</div>
					</div>
					<div id="product-view">
						<div class="product-view">
							<img src="/img/sp/{{id}}.jpg" alt="">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-1.jpg" alt="">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-2.jpg" alt="">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-3.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-body">
						<div class="product-label">
							<span>New</span>
							<span class="sale">-20%</span>
						</div>
						<h2 class="product-name">{{product_name}}</h2>
						<h3 class="product-price">{{initial_price}}</h3>
						<div>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<a href="#">3 Review(s) / Add Review</a>
						</div>
						<p><strong>Availability:</strong>Bidding</p>
						<p><strong>Seller:</strong> Ten Nguoi ban goes here !! </p>
						<p><strong>Buy now for:</strong> {{imme_buy_price}} </p>
						<p><strong>Time Start :</strong><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0
								PM</a></p>
						<p><strong>Time End_ :</strong><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0
								PM</a></p>

						<div class="timer " id=time{{id}} expriry_date={{expriry_date}}>

							<script>
								countDownTimer1(`{{ expriry_date }}`, {{ id }});
							</script>

						</div>
						<div class="product-options">
							{{!-- <div class="col-lg-4">
								<div class="card  mb-lg-0">
									<div class="card-body ">

									</div>
								</div>
							</div> --}}

							<div class="product-btns" id="buttonbid" isBidder="{{isBidder}}" isSeller="{{isSeller}}">
								<h4>Ra giá :</h4>
								<div style="display:flex">

									<div class="input-group" style="margin-right: 30px">
										<span class="input-group-btn">
											<button type="button" class="btn btn-danger btn-number" data-type="minus"
												data-field="quant[2]">
												<i class="fa fa-minus"></i>
											</button>
										</span>
										<input style="width: 90px;" type="text" name="quant[2]"
											class="form-control input-number" value="" min="{{initial_price}} "
											max="100000000" step_cost="{{step_cost}}">
										<script>
											input = document.getElementsByClassName('input-number')[0];
											if ({{ curr_price }} == 0) {
												input.value = (parseInt({{ initial_price }}) + ' K');
											input.setAttribute('min', parseInt({{ initial_price }}));
											}
											else {
												input.value = (parseInt({{ curr_price }}) + parseInt({{ step_cost }})) + ' K';
											input.setAttribute('min', (parseInt({{ curr_price }}) + parseInt({{ step_cost }})));
											}

										</script>
										<span class="input-group-btn">
											<button type="button" class="btn btn-success btn-number" data-type="plus"
												data-field="quant[2]">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
									<button pro-id="{{id}}" type="button" class="primary-btn add-to-cart"
										style="margin-right: 180px"><i class="fa fa-shopping-cart"></i> Bid Now</button>
									<i class="fa fa-heart main-btn icon-btn pull-right" onclick="actOnPro(event);"
										data-pro-id="{{id}}" data-islike="false">
									</i>
								</div>

							</div>

						</div>

					</div>
				</div>
				{{/each}}
				{{else}}
				{{#each Pro}}
				<div class="col-md-6">
					<div id="product-main-view">
						<div class="product-view">
							<img src="/img/sp/{{id}}.jpg" alt="" style="width: 600px;height:500px;">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-1.jpg" alt="" style="width: 600px;height:500px;">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-2.jpg" alt="" style="width: 600px;height:500px;">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-3.jpg" alt="" style="width: 600px;height:500px;">
						</div>
					</div>
					<div id="product-view">
						<div class="product-view">
							<img src="/img/sp/{{id}}.jpg" alt="">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-1.jpg" alt="">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-2.jpg" alt="">
						</div>
						<div class="product-view">
							<img src="/img/sp/{{id}}-3.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-body">
						<div class="product-label">
							<span>New</span>
							<span class="sale">-20%</span>
						</div>
						<h2 class="product-name">{{product_name}}</h2>
						<h3 class="product-price">{{initial_price}}</h3>
						<div>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
							<a href="#">3 Review(s) / Add Review</a>
						</div>
						<p><strong>Availability:</strong>Bidding</p>
						<p><strong>Seller:</strong> Ten Nguoi ban goes here !! </p>
						<p><strong>Buy now for:</strong> {{imme_buy_price}} </p>
						<p><strong>Time Start :</strong><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0
								PM</a></p>
						<p><strong>Time End_ :</strong><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0
								PM</a></p>

						<div class="timer " id=time{{id}} expriry_date={{expriry_date}}>

							<script>
								countDownTimer1(`{{ expriry_date }}`, {{ id }});
							</script>

						</div>
						<div class="product-options">
							{{!-- <div class="col-lg-4">
								<div class="card  mb-lg-0">
									<div class="card-body ">

									</div>
								</div>
							</div> --}}

							<div class="product-btns" id="buttonbid" isBidder="{{isBidder}}" isSeller="{{isSeller}}">
								<h4> Giá hiện tại :</h4>
								<div style="display:flex">

									<div class="input-group" style="margin-right: 30px">
										{{!-- <span class="input-group-btn">
											<button type="button" class="btn btn-danger btn-number" data-type="minus"
												data-field="quant[2]">
												<i class="fa fa-minus"></i>
											</button>
										</span> --}}
										{{!-- <input style="width: 90px;" type="text" name="quant[2]"
											class="form-control input-number" value="{{curr_price}} K"
											min="{{initial_price}} " max="100000000" step_cost="{{step_cost}}" readonly> --}}
										<span class="product-label">
											<span class="sale text-center" style="font-size: 30px;">{{curr_price}}
												K</span>
										</span>
										<script>
											input = document.getElementsByClassName('input-number')[0];
											if ({{ curr_price }} == 0) {
												input.value = (parseInt({{ initial_price }}) + ' K');
											
											}



										</script>
										{{!-- <span class="input-group-btn">
												<button type="button" class="btn btn-success btn-number" data-type="plus"
													data-field="quant[2]">
													<i class="fa fa-plus"></i>
												</button>
											</span> --}}

									</div>


								</div>
								<p></p>
								<p></p>
								<div class="alert alert-success" role="alert"> <i
										class="fas fa-exclamation-triangle"></i> Hãy đăng nhập với tư cách Bidder
									để thực hiện chức năng này</div>

							</div>

						</div>

					</div>
				</div>
				{{/each}}
				{{/if}}





				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">HISTORY BID</a></li>
							<li><a data-toggle="tab" href="#tab2">Highest Bidder</a></li>
							<li><a data-toggle="tab" href="#tab3">Send Feedback</a></li>
							<li><a data-toggle="tab" href="#tab4">Detail Product</a></li>
							<li><a data-toggle="tab" href="#tab5">Owner / Seller</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								{{#if isOwner}}
								<table class="shopping-cart-table table table-striped"
									style="width: 90%;margin-left: 40px;">
									<thead>
										<tr>
											<th>Bidder</th>

											<th class="text-center">Price</th>
											<th class="text-center">Bid Date</th>
											<th class="text-center">Rating</th>
											<th class="text-right"></th>
										</tr>
									</thead>
									<tbody>
										{{#each HistoryBid}}
										<tr>
											{{#if isTop}}
											<td><i class="fas fa-trophy"></i> &nbsp******{{lastname}}</td>
											{{else}}
											<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp******{{lastname}}</td>
											{{/if}}

											<td class="price text-center"><strong>{{price}} </strong>K</td>

											<td class="qty text-center" id="{{price}}Time">
												<script>

													d = new Date('{{ time }}');
													document.getElementById('{{ price }}Time').innerHTML = d.toLocaleDateString() + ' ' + d.toLocaleTimeString();

												</script>
											</td>

											<td class="total text-center"><strong class="primary-color">32.50 %</strong>
											</td>

											<td class="text-right">
												<button id="{{id}}btn_cancel" bidderId="{{userId}}"
													proId="{{productId}}" class="main-btn icon-btn"
													style="width: auto; padding:0 10px" type="button"
													onclick="cancelBid({{userId}},{{productId}},{{price}});">
													<i class="fas fa-edit"></i>
													Cancel This Bid
												</button>


											</td>

										</tr>

										{{/each}}
									</tbody>
								</table>
								{{else}}
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Buyer</th>
											<th>Time</th>
											<th>Price</th>
										</tr>
									</thead>

									<tbody>
										{{#each HistoryBid}}
										<tr>
											{{#if isTop}}
											<td><i class="fas fa-trophy"></i> &nbsp******{{lastname}}</td>
											{{else}}
											<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp******{{lastname}}</td>
											{{/if}}

											<td id="{{price}}Time">
												<script>

													d = new Date('{{ time }}');
													document.getElementById('{{ price }}Time').innerHTML = d.toLocaleDateString() + ' ' + d.toLocaleTimeString();

												</script>

											</td>

											<td>{{price}} K</td>

										</tr>
										{{/each}}
									</tbody>

								</table>
								{{/if}}

							</div>
							<div id="tab2" class="tab-pane fade in">
								{{#each HiggestBidder}}
								<div class="single-review">
									<div class="review-heading">
										<div><a href="#"><i class="fa fa-user-o"></i> {{lastname}}</a></div>
										<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
										<div><a href="#"><i class="fa fa-clock-o"></i> {{price}}</a></div>
										<div class="review-rating pull-right">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
									</div>
									<div class="review-body">
										<p>GIA CAO NHAT :{{price}} </p>
										<p><strong>Point: </strong> 9 </p>
									</div>
								</div>
								{{/each}}
							</div>
							<div id="tab3" class="tab-pane fade in">
								<div class="col-md-6">
									<h4 class="text-uppercase">Write Your Review</h4>
									<p>Your email address will not be published.</p>
									<form class="review-form">
										<div class="form-group">
											<input class="input" type="text" placeholder="Your Name" />
										</div>
										<div class="form-group">
											<input class="input" type="email" placeholder="Email Address" />
										</div>
										<div class="form-group">
											<textarea class="input" placeholder="Your review"></textarea>
										</div>
										<div class="form-group">
											<div class="input-rating">
												<strong class="text-uppercase">Your Rating: </strong>
												<div class="stars">
													<input type="radio" id="star5" name="rating" value="5" /><label
														for="star5"></label>
													<input type="radio" id="star4" name="rating" value="4" /><label
														for="star4"></label>
													<input type="radio" id="star3" name="rating" value="3" /><label
														for="star3"></label>
													<input type="radio" id="star2" name="rating" value="2" /><label
														for="star2"></label>
													<input type="radio" id="star1" name="rating" value="1" /><label
														for="star1"></label>
												</div>
											</div>
										</div>
										<button class="primary-btn">Submit</button>
									</form>
								</div>

							</div>
							<div id="tab4" class="tab-pane fade in">
								{{#each Pro}}

								{{{description}}}

								{{/each}}

							</div>
							<script>


							</script>

							<div id="tab5" class="tab-pane fade in ">
								<div class="single-review">
									<div class="review-heading">
										<div><a href="#"><i class="fa fa-user-o"></i> Seller</a></div>
										<div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
										<div class="review-rating pull-right">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
									</div>
									<div class="review-body">
										<p>THONG TIN NGUOI BAN DAT O DAY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
										<p><strong>Point: </strong> 9 </p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /Product Details -->


		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<div class="section">
	<!-- container -->

	<div class="container">
		<!-- row -->
		<div class="section-title">
			<h2 class="title">RELATED PRODUCTS</h2>
			<div class="pull-right">
				<div class="product-slick-dots-1 custom-dots"></div>
			</div>
		</div>
		<div class="row">
			<div id="product-slick-1" class="product-slick">
				{{#each ProRelate}}
				<!-- Product Single -->
				<div class="product product-single">
					<div class="product-thumb">
						<div class="product-label">
							<span id=time{{id}} start_date={{start_date}}>
								<script>
									transferDateFormat(`{{start_date}}`, {{ id }});
								</script>
							</span>
							<span class="sale text-center">New</span>
						</div>
						<ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
							<script>
								console.log(`{{expriry_date}} `);
								countDownTimer(`{{expriry_date}}`, {{ id }});
							</script>
						</ul>

						<a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a>
						<img src="/img/sp/{{id}}.jpg" alt="">
					</div>
					<div class="product-body">

						<p class="align-self-end ">
							Current Price:
						</p>

						<h3 class="product-price">${{initial_price}}</h3>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o empty"></i>
						</div>
						<h2 class="product-name"><a href="#">{{product_name}}</a></h2>
						<div class="">
							<p>
								<i class="fas fa-trophy grey-text pr-2"></i> Trinh Tan Tai |
								<i class="fas fa-users fa-lg text-info pr-2"> </i> 33 bidders
							</p>
							<p>Buy now: <strong>${{imme_buy_price}}</strong></p>
						</div>
						<div class="product-btns">
							<i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);" data-pro-id="{{id}}"
								data-islike="false">
							</i>

							<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
								Bid
								now</button>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{{/each}}
			</div>
		</div>
	</div>
	<!-- /Product Slick -->
</div>
{{!-- row --}}
</div>
<!-- /container -->
</div>
<!-- /section -->