{{#section 'style'}}
<link href="/css/card.css" rel="stylesheet" type="text/css">
<script src="/js/util.js"></script>
{{/section}}

{{#section 'WATCHLIST'}}
<script src="/js/watchlist.utils.js"></script>
{{/section}}

{{#section 'BID_UTILS'}}
<script src="/js/bidder/bidder.utils.js"></script>
<script src="/js/seller/seller.utils.js"></script>
{{/section}}

<script>
	function toDateString(date, _id){
		const posted_date = new Date(date);
		console.log(posted_date.toLocaleDateString() + ' lúc ' + posted_date.toLocaleTimeString());
		document.getElementById(_id).innerHTML = posted_date.toLocaleDateString('vi-VI') + ' lúc ' + posted_date.toLocaleTimeString('vi-VI');
	}
</script>

<!-- section -->
<div class="section">

	<!-- container -->
	<div class="container">

		<div class="banner banner-1">
        <img src="https://images6.alphacoders.com/712/712515.jpg" alt="" height="300">
        <div class="banner-caption text-center">
            <h1>HỌC</h1>
            <h3 class="white-color font-weak">Học nữa, học mãi</h3>
            <button class="primary-btn">Học ngay</button>
        </div>
    </div>

	<div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Khóa học</a></li>
				{{#if category}}
					{{#if fatherCategory}}
					<li><a href="#">{{fatherCategory.ten_the_loai}}</a></li>
					{{/if}}
					<li><a href="#">{{category.ten}}</a></li>
				{{else}}
					<li>Thể loại N/A</li>
				{{/if}}
                <li class="active">{{product.ten_khoa_hoc}} </li>
            </ul>
        </div>
    </div>

		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<div class="product product-details clearfix">
				<div class="col-md-6">
					<div id="product-main-view">
						<div class="product-view">
							<img src="/img/khoahoc/{{product.img_url}}" alt="" style="width: 600px;height:500px; background-size:cover;">
						</div>
					</div>
					<dl class="row" style="margin-top: 30px; margin-bottom: 50px;
					border-style: outset;
					border-color: #bfbfbf white black white;
					border-width: 1px 0px 1.5px 0px;">
						<dt class="col-sm-4" style="margin-top: 20px; margin-bottom: 15px;">Số bài học: </dt>
						<dd class="col-sm-8" style="margin-top: 20px; margin-bottom: 15px;">
							{{courseInfo.lessonsCount}}
						</dd>
						<dt class="col-sm-4" style="margin-bottom: 15px;">Tổng thời lượng: </dt>
						<dd class="col-sm-8" style="margin-bottom: 15px;">
							{{courseInfo.courseLength}}
						</dd>
						<dt class="col-sm-4" style="margin-bottom: 20px;">Danh mục: </dt>
						<dd class="col-sm-8" style="margin-bottom: 20px;">
							{{#if category}}
								{{category.ten}}
							{{else}}
								Không tồn tại
							{{/if}}
						</dd>
					</dl>
					<div style="text-align: center;">
						<button href="#" class="primary-btn">Vào học khóa học</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="product-body">
						<h2 class="product-name">{{product.ten_khoa_hoc}}</h2>

						<div>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i>
							</div>
						</div>

						<dl class="row" style="margin-left: 10px;margin-bottom: 20px;">
		
							{{#if teacher}}
								{{#each teacher}}
								<dt class="col-sm-4">Người dạy :</dt>
								<dd class="col-sm-8">{{firstname}} {{lastname}}</dd>
								{{/each}}
							{{else}}
								<dt class="col-sm-12">Không tồn tại người dạy hợp pháp</dt>
							{{/if}}

							<dt class="col-sm-4">Ngày đăng: </dt>
							<dd class="col-sm-8" id="PostedDate">
								<script>
									toDateString(`{{product.ngay_dang}}`, "PostedDate");
								</script>
							</dd>

							<dt class="col-sm-4">Giá thật :</dt>
							<dd class="col-sm-8">
								{{product.gia}} Đ
							</dd>
							<dt class="col-sm-4">Giá khuyến mãi :</dt>
							<dd class="col-sm-8">
								<button href="#" class="btn primary-btn ratebtn buynow clickbuy"
									pro-id="{{product.id}}">{{product.gia_khuyen_mai}} đ</button>
							</dd>

							<div class="product-tab">
								<ul class="tab-nav">
									<li><a data-toggle="tab" href="#tab2">Thông tin người dạy</a></li>
									<li class="active"><a data-toggle="tab" href="#tab1">Mô tả khóa học</a></li>
									<li><a data-toggle="tab" href="#tab3">Chi tiết khóa học</a></li>
								</ul>
								<div class="tab-content">
									
									<div id="tab1" class="tab-pane fade in active">
										{{{product.mo_ta}}}
									</div>
									<div id="tab2" class="tab-pane fade in ">
										<div class="single-review">
											<div class="review-heading">
												{{#if teacher}}
													{{#each teacher}}
												<div><a href="#"><i class="fa fa-user-o"></i> {{firstname}} {{lastname}}</a></div>
												<div class="review-rating pull-right">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o empty"></i>
												</div>
													{{/each}}
												{{else}}
													<p>Người dạy của khóa học này sở hữu tài khoản không tồn tại</p>
												{{/if}}
											</div>
											<div class="review-body">
												{{#if teacher}}
													{{#each teacher}}
														<p>Email: {{email}}</p>
														<p>Địa chỉ: {{address}}</p>
														<p><strong>Lượt thích: </strong> {{like_count}} </p>
													{{/each}}
												{{else}} 
													<p>Người dạy của khóa học này sở hữu tài khoản không tồn tại</p>
												{{/if}}
											</div>
										</div>

									</div>

									<div id="tab3" class="tab-pane fade in">
										<table id="myTable" class="table">
											<thead>
												<tr>
													<td>Tên bài học</td>
													<td>Thời lượng</td>
												</tr>
											</thead>
											<tbody>
												{{#if lessons}}
													{{#each lessons}} 
													<tr>
														<td>{{ten_bai_hoc}}</td>
														<td>{{thoi_luong}}</td>
													</tr>
													{{/each}}
												{{else}}
													<tr>
														<td>Chưa có bài học</td>
														<td>N/A</td>
													</tr>
												{{/if}}
											</tbody>
											<tfoot>
												{{#if lessons}}
												{{else}}
													<p style="text-align: center;">Có vẻ như người dạy chưa thêm bài học cho khóa học này</p>
												{{/if}}
											</tfoot>
										</table>
									</div>

								</div>
							</div>

						</dl>
					

					</div>
				</div>

				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tabRatings">Đánh giá khóa học</a></li>
						</ul>
						<div class="tab-content">
							<div id="tabRatings" class="tab-pane fade in active">
								{{#if comments}} 
								
								{{else}}
									<p style="text-align: center;">Không có đánh giá nào về khóa học này</p>
								{{/if}}
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /Product Details -->


		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->
{{!-- row --}}
