{{#section 'style'}}
<script src="/js/util.js"></script>
{{/section}}

{{#section 'WATCHLIST'}}
<script src="/js/watchlist.utils.js"></script>
{{/section}}


<!-- container -->
<div class="container">
    <div class="banner banner-1">
        <img src="https://images6.alphacoders.com/712/712515.jpg" alt="" height="300">
        <div class="banner-caption text-center">
            <h1>HỌC</h1>
            <h3 class="white-color font-weak">Học nữa, học mãi</h3>
            <button class="primary-btn">Học ngay</button>
        </div>
    </div>
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Khóa học</a></li>
                <li class="active">Tìm kiếm </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row" style="margin-top:20px">
        <!-- ASIDE -->
        <div id="aside" class="col-md-3">
            <!-- aside widget -->

            <div class="aside">
                <h3 class="aside-title ">&nbsp&nbsp&nbspTìm kiếm cho : "{{query}}"</h3>
                <div class="product-thumb">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51+vTuZ5IeL._AC_SL_QL70_.jpg" alt="">
                </div>
            </div>


        </div>
        <!-- /ASIDE -->

        <!-- MAIN -->
        <div id="main" class="col-md-9">
            <!-- store top filter -->
            <div class="store-filter clearfix">
                <div class="pull-left">
                    <div class="row-filter">
                        <a href="#"><i class="fas fa-filter"></i></a>
                        {{!-- <a href="#" class="active"><i class="fa fa-bars"></i></a>
                        <a href="#" class="active"><i class="fas fa-filter"></i></a> --}}
                    </div>
                    <div class="sort-filter">
                        <span class="text-uppercase">Sắp xếp :</span>
                        <select class="input" id="inputsort">
                            <option value=0>Theo giá</option>
                            <option value=1>Tên</option>
                        </select>
                        <a href="#" class="main-btn icon-btn" id="buttonorder"><i class="fa fa-arrow-down"></i></a>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="page-filter">
                        <span class="text-uppercase">Show:</span>
                        <select class="input">
                            <option value="0">3</option>
                            <option value="1" selected>6</option>

                        </select>
                    </div>
                    <ul class="store-pages" id="productpage">
                        <li><span class="text-uppercase">Page:</span></li>
                    </ul>
                </div>
            </div>
            <!-- /store top filter -->

            <!-- STORE -->
            <div id="store">
                <!-- row -->
                <div class="row" id="rowproduct">
                    {{#if countPros}}
                    {{#each pros}}
                    <div class="col-md-4 col-sm-6 col-xs-6" data-price='{{initial_price}}'
                        data-endate='{{expriry_date}}'>
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    {{!-- <span id=time{{id}} start_date={{ngay_dang}}>
                                        <script>
                                            transferDateFormat(`{{start_date}}`, {{ id }});
                                        </script>
                                    </span> --}}
                                    <span class="sale text-center">Mới </span>
                                </div>
                                {{!-- <ul class="product-countdown" id={{id}} expriry_date={{expriry_date}}>
                                    <script>

                                        countDownTimer(`{{ expriry_date }}`, {{ id }});
                                    </script>
                                </ul> --}}

                                {{!-- <a href="/product/productdetail/{{id}}" class=" main-btn quick-view">Detail</a> --}}
                                <a href="/product/detail?ID={{id}}" class=" main-btn quick-view"><i class="fas fa-search"></i> Chi tiết</a>
                                <img src="/img/khoahoc/{{img_url}}" alt="">
                            </div>
                            <div class="product-body">

                                <p class="align-self-end ">
                                    Giá:
                                </p>

                                <h3 class="product-price">{{gia}} đ</h3>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="/product/detail?ID={{id}}">{{ten_khoa_hoc}}</a></h2>
                                <div class="">
                                    <p>
                                        bởi <strong class="primary-color">Trinh Tan Tai</strong>


                                    </p>
                                    <p><i class="fas fa-users fa-lg text-info pr-2"> </i> 0 học viên</p>
                                </div>
                                <div class="product-btns">
                                    <i class="fa fa-heart main-btn icon-btn" onclick="actOnPro(event);"
                                        data-pro-id="{{id}}" data-islike="false">
                                    </i>

                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp
                                        Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Single -->

                    <!-- /Product Single -->
                    {{/each}}
                    {{else}}
                    <!-- Product Single -->
                    <div style="padding-left: 20px;">
                        <h3 class="title">Không tìm thấy khóa học.</h3>
                    </div>
                    {{/if}}

                </div>
                <!-- /row -->
            </div>
            <!-- /STORE -->

        </div>
        <!-- /MAIN -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->