{{#section 'style'}}
<link href="/css/seller/form.post.css" rel="stylesheet" type="text/css">
<script src="/js/util.js"></script>
{{/section}}

{{#section 'DROPUPLOAD'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all"
	rel="stylesheet" type="text/css" />
<!-- Date time picker -->
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{{/section}}

{{#section 'WYSIWYG'}}
<script
	src="https://cdn.tiny.cloud/1/1t7sjbqh4n4m6d0kfprkd597forfz9bt36w9h0vhmd24hxag/tinymce/5/tinymce.min.js"></script>
<script src="/js/seller/tinyMCESetup.js"></script>
{{/section}}

{{#section 'DROPUPLOAD_JS'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/piexif.min.js"
	type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/purify.min.js"
	type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/themes/fas/theme.min.js"></script>


{{!-- Date time picker --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script
	src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script src="/js/seller/post.product.js"></script>
{{/section}}

<div class="container">

	<section class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">ĐĂNG KHÓA HỌC</h2>
		</div>
		<div class="panel-body shadow p-3 mb-5 bg-white rounded">

			<form class="form-horizontal form-label-left" action="/seller/add" role="form" method="POST"
				enctype="multipart/form-data" novalidate>
				<div class="media" style="margin-left: 50px; margin-bottom: 20px;">
					<div class="media-left panel">
						<a href="#">
							<img class="media-object" style="border-radius: 25px;"
								src="https://loda.me/assets/images/new_logo_1024x1024.png" alt="..." width="300"
								height="300px">
						</a>
					</div>
					<div class="media-body">
						{{!-- <h4 class="media-heading">Informations</h4> --}}
						{{!-- Tên sản phẩm --}}
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="email">Tên khóa học <span
									class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="text" name="ten_khoa_hoc" required="required" class="form-control">
							</div>
						</div>

						{{!-- Loại khóa học --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="website">Thể loại khóa học
								<span class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<select class="input search-categories" name="the_loai_id" id="product_type">
									{{#each ProT}}
									<option value={{id}}>{{ten}}</option>
									{{/each}}
								</select>
							</div>
						</div>

						{{!-- Giá  --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="number"> Giá khóa học <span
									class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="number" required="required" data-validate-minmax="5000,100000000000000"
									class="form-control" name="gia">
							</div>
						</div>

						{{!-- Giá khuyến mãi --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="number"> Giá khuyến mãi
								<span class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="number" required="required" data-validate-minmax="5000,100000000000000"
									class="form-control" name="gia_khuyen_mai">
							</div>
						</div>

						{{!-- <div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="telephone">Ngày hết hạn
								<span class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<div class='input-group date' id='datetimepicker'>
									<input id="input_expdate" type='text' class="form-control" name="expdate"
										required="required" />

									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div> --}}

					</div>
				</div>

				<div style="width: 80%; margin: 0 auto">
					<table id="myTable" class=" table order-list">
						<thead>
							<tr>
								<td>Tên bài học</td>
								<td>Thời lượng</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col-sm-8">
									<input type="text" name="ten_bai_hoc[]" class="form-control" />
								</td>
								<td class="col-sm-2">
									<input type="mail" name="thoi_luong[]" class="form-control" />
								</td>
								<td class="col-sm-2">
									<a class="deleteRow"></a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" style="text-align: left;">
									<input type="button" class="btn btn-lg btn-block " id="addrow"
										value="Thêm bài học" />
								</td>
							</tr>
							<tr>
							</tr>
						</tfoot>
					</table>
				</div>

				{{!-- Upload hình --}}
				<div class="item form-group">
					<label class="col-form-label col-md-2 col-sm-2 label-align" for="telephone">Upload files <span
							class="required">*</span>
					</label>

					<div class="col-md-8 col-sm-8">
						<label class="control-label small" for="file_img">ẢNH CHÍNH (jpg):</label>
						<input id="input-drop1" type="file" class="file" data-preview-file-type="text" name="main_img">
					</div>
				</div>


				<div class="item form-group">
					<label class="col-form-label col-md-2 col-sm-3 label-align" for="telephone"> <span
							class="required">*</span>
					</label>
					<div class="col-md-8 col-sm-8">
						<label class="control-label small" for="file_img">Video bài giảng</label>
						<input id="input-drop2" type="file" class="file" data-preview-file-type="text" name="videos"
							multiple>
					</div>
				</div>


				{{!-- Mô tả --}}
				<div class="item form-group">
					<label class="col-form-label col-md-2 col-sm-3 label-align" for="textarea">Mô tả <span
							class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9">
						{{!-- <textarea id="textarea" required="required" name="textarea" class="form-control"
						name="product_description"></textarea> --}}

						<textarea class="full-featured-non-premium" rows="4" name="mo_ta" required="required">

						</textarea>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button pro-id="" class="btn btn-success" id="buttonaddproduct" type="submit"><i
								class="fas fa-store-alt"></i>&nbsp;&nbsp; Đăng khóa học </button>
						<span>( * Lưu ý: khóa học sẽ phải đợi phê duyệt từ admin để có thể xuất hiện trên hệ thống
							)</span>
					</div>
				</div>
			</form>

		</div><!-- panel-body // -->
	</section><!-- panel// -->
</div> <!-- container// -->