{{#section 'style'}}
<link href="/css/seller/form.post.css" rel="stylesheet" type="text/css">
<script src="/js/util.js"></script>
{{/section}}

{{#section 'DROPUPLOAD'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all"
	rel="stylesheet" type="text/css" />
<!-- Date time picker -->
<link rel="stylesheet"
	href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{{/section}}

{{#section 'WYSIWYG'}}
<script
	src="https://cdn.tiny.cloud/1/1t7sjbqh4n4m6d0kfprkd597forfz9bt36w9h0vhmd24hxag/tinymce/5/tinymce.min.js"></script>
<script src="/js/seller/tinyMCESetup.js"></script>
{{/section}}

{{#section 'DROPUPLOAD_JS'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/piexif.min.js"
	type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/purify.min.js"
	type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/themes/fas/theme.min.js"></script>


{{!-- Date time picker --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script
	src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script src="/js/seller/post.product.js"></script>
{{/section}}

<div class="container">

	<section class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">ĐĂNG SẢN PHẨM</h2>
		</div>
		<div class="panel-body shadow p-3 mb-5 bg-white rounded">

			<!-- <form action="/seller/add" class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">


				<div class="form-group">
					<label for="productname" class="col-sm-3 control-label">TÊN SẢN PHẨM</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="productname"
							placeholder="Tên món đồ đấu giá của mình">
					</div>
				</div> 
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">Loại sản phẩm</label>
					<div class="col-sm-9">
						<select class="input search-categories" name="selcat" id="product_type">
							{{#each ProT}}
							<option value={{id}}>{{protype_name}}</option>
							{{/each}}
						</select>
					</div>
				</div> 
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">GIA: </label>
					<div class="box col-sm-9">
						<input type="number" value="9999" name="product_price">
					</div>
				</div> 
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">BUOC NHAY: </label>
					<div class="box col-sm-9">
						<input type="number" value="1000" name="product_stepcost">
					</div>
				</div> 
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">GIA MUA NGAY: </label>
					<div class="box col-sm-9">
						<input type="number" value="99999" name="product_buynowprice">
					</div>
				</div> 
				<div class="form-group">
					<label class="col-sm-3 control-label">Thời gian đấu giá</label>
					<div class="col-sm-3">
						
						<input type="datetime-local" name="expdate">
					</div>


				</div> 
				<div class="form-group">
					<label for="name" class="col-sm-3 control-label">Ảnh mô tả</label>
					<div class="col-sm-2">
						<label class="control-label small" for="file_img">ẢNH CHÍNH (jpg):</label> <input type="file"
							name="main_img">
					</div>

					<div class="col-sm-2">
						<label class="control-label small" for="file_img">CÁC ẢNH PHỤ:</label> <input type="file"
							name="alt_imgs" multiple>
					</div>

				</div> 
				<div class="form-group">
					<label for="product_description" class="col-sm-3 control-label">Mô Tả</label>
					<div class="col-sm-9">
						<textarea class="form-control" name="product_description"></textarea>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button pro-id="" class="btn btn-success" id="buttonaddproduct" type="submit"><i
								class="fas fa-store-alt"></i>&nbsp;&nbsp; DANG SAN PHAM</button>
					</div>
				</div> 


			</form>-->


			<form class="form-horizontal form-label-left" action="/seller/add" role="form" method="POST"
				enctype="multipart/form-data" novalidate>
				<div class="media" style="margin-left: 50px; margin-bottom: 20px;">
					<div class="media-left panel">
						<a href="#">
							<img class="media-object" style="border-radius: 25px;" src="/img/backgroung_register.jpg"
								alt="..." width="300px" height="350px">
						</a>
					</div>
					<div class="media-body">
						{{!-- <h4 class="media-heading">Informations</h4> --}}
						{{!-- Tên sản phẩm --}}
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="email">Product name <span
									class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="text" name="productname" required="required" class="form-control">
							</div>
						</div>


						{{!-- Loại sản phẩm --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="website">Type product <span
									class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<select class="input search-categories" name="selcat" id="product_type">
									{{#each ProT}}
									<option value={{id}}>{{protype_name}}</option>
									{{/each}}
								</select>
							</div>
						</div>

						{{!-- Giá khởi điểm --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="number"> Giá khởi điểm
								<span class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="number" id="number" required="required"
									data-validate-minmax="5000,100000000000000" class="form-control"
									name="product_price">
							</div>
						</div>

						{{!-- Giá mua ngay --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="number"> Giá mua ngay <span
									class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="number" required="required" data-validate-minmax="5000,100000000000000"
									class="form-control" name="product_buynowprice">
							</div>
						</div>

						{{!-- Bước giá --}}
						<div class=" item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="number"> Bước giá <span
									class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<input type="number" id="number" required="required"
									data-validate-minmax="1000,10000000000000" class="form-control"
									name="product_stepcost">
							</div>
						</div>

						{{!-- Ngày hết hạn --}}
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-2 label-align" for="telephone">Expiry Date
								<span class="required">*</span>
							</label>
							<div class="col-md-7 col-sm-6">
								<div class='input-group date' id='datetimepicker'>
									<input id="input_expdate" type='text' class="form-control" name="expdate"
										required="required" />

									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>


				{{!-- Upload hình --}}
				<div class="item form-group">
					<label class="col-form-label col-md-2 col-sm-2 label-align" for="telephone">Upload images <span
							class="required">*</span>
					</label>

					<div class="col-md-8 col-sm-8">
						<label class="control-label small" for="file_img">ẢNH CHÍNH (jpg):</label>
						<input id="input-drop1" type="file" class="file" data-preview-file-type="text" name="main_img">
					</div>
				</div>


				<div class="item form-group">
					<label class="col-form-label col-md-2 col-sm-3 label-align" for="telephone"> <span
							class="required">*</span>
					</label>
					<div class="col-md-8 col-sm-8">
						<label class="control-label small" for="file_img">CÁC ẢNH PHỤ:</label>
						<input id="input-drop2" type="file" class="file" data-preview-file-type="text" name="alt_imgs"
							multiple>
					</div>
				</div>


				{{!-- Mô tả --}}
				<div class="item form-group">
					<label class="col-form-label col-md-2 col-sm-3 label-align" for="textarea">Description <span
							class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9">
						{{!-- <textarea id="textarea" required="required" name="textarea" class="form-control"
						name="product_description"></textarea> --}}

						<textarea class="full-featured-non-premium" rows="4" name="product_description"
							required="required">

						</textarea>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button pro-id="" class="btn btn-success" id="buttonaddproduct" type="submit"><i
								class="fas fa-store-alt"></i>&nbsp;&nbsp; POST NOW </button>
					</div>
				</div>
			</form>

		</div><!-- panel-body // -->
	</section><!-- panel// -->
</div> <!-- container// -->