<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/adminconf/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="/css/utils.css" rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template-->
    <link href="/adminconf/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="/css/sweetalert2.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/dropzone.min.css" rel="stylesheet" type="text/css" media="all">


    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">


    <script>
        $(document).ready(function(){
        $("#example").DataTable({
             "scrollY":        "200px",
                "scrollCollapse": true
        });
    });
    </script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{> admin-navbar }}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{> admin-header }}

                {{{ body }}}

            </div>
            <!-- End of Main Content -->

            {{> admin-footer }}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    
    <!--Loading-->
        <div id="loading" class="sk-fading-circle" style="display: none;">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/adminconf/vendor/jquery/jquery.min.js"></script>
    <script src="/adminconf/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/adminconf/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/adminconf/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/adminconf/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/adminconf/js/demo/chart-area-demo.js"></script>
    <script src="/adminconf/js/demo/chart-pie-demo.js"></script>

   <script src="/js/bootstrap.js"></script>
   <script src="/js/sweetalert2.min.js"></script>
   <script src="/js/dropzone.min.js"></script>


   
   <script src="/js/loading.js"></script>
   <script src="/js/alert.js"></script>
   <script src="/js/permission.js"></script>

</body>

</html>